<% provide(:page_title, 'About') %>

<div class="page-header">
    <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / <%= yield(:page_title).upcase %> </h5>
</div>

<h1> About </h1>

<div class="row">
	<div class="col col-md-7" style="font-size:16px">
		<p>Hello and welcome!</p>
		<p>My name is Henry Love and this is my website.  Building things is one of my many passions, along with playing the violin, trying to play the mandolin, making art, running, and exploring what's around me.  Home is Arlington, Virginia - where I have lived my entire life as the third oldest of six.  I'm currently pursuing a bachelor's degree in electrical engineering, but love learning about the world of mechanics and computer science as well.</p>
		<p>I hope you enjoy this site!</p>
		<br>
	</div>
	<div class="col col-md-5" style="overflow: hidden">
		<%=image_tag("me_small.jpg", alt: "me")%>
	</div>
</div>

