<% provide(:page_title, 'Contact') %>

<div class="page-header">
    <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / <%= yield(:page_title).upcase %> </h5>
</div>

<h1> Contact </h1>

<p style="font-size:16px">If you'd like to contact me, feel free to do so by emailing me! <p>
<p style="font-size:16px">My email: hlove@mit.edu</p>