/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*============================MINE============================*/

/* CSS Document */

/*============================SetUp============================*/

/*-----------------------------fonts------------------------------*/

@font-face {
    font-family: webly;
    src: font-url("weblysleek_ui/weblysleekuil.ttf");
}

@font-face {
    font-family: fireye;
    src: font-url("fireye_gf/FireyeGF_3_Regular.ttf");
}

/*-----------------------------NEW fonts------------------------------*/ 

@font-face {
    font-family: three_d_thirteen_pixel_fonts;
    src: font-url("3d_thirteen_pixel_fonts/3D-Thirteen-Pixel-Fonts.ttf");
}

@font-face {
    font-family: tiny_box;
    src: font-url("tiny_box/TINYBBA_.TTF");
}

/*-----------------------------END NEW fonts------------------------------*/

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Titillium Web';*/
    font-family: 'Space Mono', monospace;
    color: #f5f5f5;
}

p, div, td, li {
    /*font-family: 'Titillium Web';*/
    font-family: 'Open Sans';
    font-size: 15px;
    /*font-family: 'Lora', serif;*/
    color: #f5f5f5;
}

td {
    padding: 3px;
}

a {
    color: #12C4FF;
}

a:hover {
    color: yellow;
}

/*-------------------------------------------------------------------*/

/*----------------------------buttons-----------------------------*/

.btn-default {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: #f5f5f5; 
}

.btn-default:focus {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: #f5f5f5;
}

.btn-default:hover {
    border: 1px solid #bbb;
    background-color: #565c64;
    color: #f5f5f5;
}

.btn-default:active {
    background-color: #33363b !important;
    border: 1px solid #bbb !important;
    color: #f5f5f5 !important;
}

.btn-success {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: lightgreen; 
}

.btn-success:focus {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: lightgreen; 
}

.btn-success:hover {
    border: 1px solid #bbb;
    background-color: #565c64;
    color: #f5f5f5;
}

.btn-success:active {
    background-color: #3E8A5A !important;
    border: 1px solid #bbb !important;
}

.btn-warning {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: yellow; 
}

.btn-warning:focus {
    border: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
    background-color: #33363b;
    color: yellow; 
}

.btn-warning:hover {
    border: 1px solid #bbb;
    background-color: #565c64;
    color: #f5f5f5;
}

.btn-warning:active {
    background-color: #efa728 !important;
    border: 1px solid #bbb !important;
}

/*-------------------------------------------------------------------*/

/*-----------------------------TinyMCE Fixes-------------------------*/

#tinymce {
    /*background-color: #ffffff;
    padding: 5px;*/
    background-color: #565c64;
    color: #f5f5f5;
}

/*-------------------------------------------------------------------*/

/*DANGEROUS * {
    margin: 0px;
    padding: 0px;
}*/

body {
    /*background-color: #E8E8E8;*/
    background-color: #33363b;
}

#content {
    /*background-color: white;*/
    background-color: #33363b;
    padding-bottom: 15px;
    min-height: 363px;
    word-wrap: break-word;
    z-index: 1;
}

.box {
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid #DBDBDB;
    border-radius: 2px;
    padding: 5px;
}

.row {
    margin-bottom: 10px;
}

.alert {
    background-image: none;
}

/*================================================================*/



/*============================Header============================*/

.redLine {
    border-bottom: 1px solid #ad2217;
}

#headerOverlay{
    width: 100%;
    top: 0px;
    position: absolute;
    /*background: linear-gradient(to right, #33363b 65%, rgba(0, 98, 100, .8), rgba(255, 0, 100, .6), transparent);*/
    /*Background of BLE: */
    /*background: #BFD7D9;*/
    /*Background of old BLE */
    /*background: #8A8A8A; */
    /*Background of old H.Love Engineering: */
    background: #33363b;
    height: 257px;
    padding-bottom: 60px;
    z-index: -1;
}

.logo {
    margin-top: 10px;
    font-family: fireye;
    font-size: 88px;
    color: #CCCCCC;
    /*text-shadow: 2px 0 black*/
}

.logo a {
    text-decoration: none;
    color: #CCCCCC;
}

.logo-small {
    margin-top: 10px;
    font-family: fireye;
    font-size: 43px;
    color: #CCCCCC;
    text-align: center;
    /*text-shadow: 2px 0 black*/
}

.logo-small a {
    text-decoration: none;
    color: #CCCCCC;
}

.subscript {
    font-size: 20px;
}

/*New Logo*/

.new-logo {
    margin-top: 10px;
    /*font-family: 'Bungee Hairline', cursive;*/ /*Use 57px font size*/
    /*font-family: tiny_box;*/ /*Use 40px font size*/
    /*font-family: three_d_thirteen_pixel_fonts;*/ /*Use 90px (lower case) 70px (upper case) font size*/
    font-family: 'Major Mono Display', monospace; /* Use 50px (lower case) */
    font-size: 50px;
    color: #f8f8f2;
    text-align: center;
    /*text-shadow: 2px 0 black*/
}

.new-logo a {
    text-decoration: none;
    /*color: #272822;*/
    color: #CCCCCC;
}

.new-logo-small {
    margin-top: 10px;
    font-family: Consolas;
    font-size: 43px;
    color: #f8f8f2;
    text-align: center;
    /*text-shadow: 2px 0 black*/
}

.new-logo-small a {
    text-decoration: none;
    color: #f8f8f2;
}

/*----------------------------navbar-----------------------------*/

.navbar-custom {
    /*Background of BLE: */
    /*background-color: #BFD7D9;/*#272822;*/
    /*Background of old H.Love Engineering: */
    background-color: #33363b;
    color: #ffffff;
    border-radius: 0;
    /*border-top: solid red 1px;*/
    margin-bottom: 0px;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);*/
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #404246;
    background-image: none;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.navbar-toggle:hover {
    background-color: #565c64;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #E8E8E8;
}

.navbar-custom .navbar-nav > li > a {
    /*BLE:*/
    /* color: #272822;*/
    color: #eeeeee;
    font-family: 'Space Mono', monospace;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: #f5f5f5;
    background-color: #565c64;
}

.navbar-custom .navbar-nav > .active > a:hover {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    /*Colors glyphicon in header and footer*/
    color: #f5f5f5;
    /*BLE:*/
    /*color: #272822;*/
}

.navbar-custom .navbar-brand:hover {
    /*Colors glyphicon in header and footer*/
    background-color: #565c64;
}

/*----------------------------------------------------------------*/

/*================================================================*/



/*============================Content============================*/

.page-header {
    margin-top: 0px;
    padding-top: 4.5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #bbb;
}

#breadcrums {
    padding-bottom: 4.5px;
}

.page-title {
    margin-bottom: 20px;
}

.page-title h1 {
    border-bottom: 1px dashed #eeeeee;    
}

#toc-container {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 10px 15px;
    display: inline-block;
    
}

#toc-container ul {
    list-style: none;
}

.toc-title {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.featured {
    margin-bottom: 25px;
}

#date {
    color: #777;
}

/*Only perform this CSS when the screen is larger than 1200px */
@media (min-width: 1200px) {
    /* Show the slider */
    #title {
        margin-top: 70px;
    }
    /* Show post title banners */
    .title-banner {
        position: absolute;
        z-index: -1;
        margin-top: -60px;
        opacity: 0.5;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        border-radius: 5px;
    }
}

/* CSS below gives coloring to uploaded banner and thubnail image icons */

.glyphicon-remove-circle {
    color: #ff4c4c;
}

.glyphicon-ok-circle {
    color: lightgreen;
}

/* CSS below colors owner badges*/

.love_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #E07572;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

.bianchini_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #F4C46F;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

.bianchini_love_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #BFD7D9;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

/*active hover:*/

.btn.love_badge:hover {
    background-color: #F2C4C2;
    color: #272822;
}

.btn.bianchini_badge:hover {
    background-color: #fAE2B8;
    color: #272822;
}

.btn.bianchini_love_badge:hover {
    background-color: #D8E6E8;
    color: #272822;
}

/*inactive:*/

.inactive_love_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #E8E8E8;
    font-family: 'Space Mono', monospace;
}

.inactive_bianchini_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #E8E8E8;
    font-family: 'Space Mono', monospace;
}

.inactive_bianchini_love_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #E8E8E8;
    font-family: 'Space Mono', monospace;
}

.inactive_badge {
    color: #272822;
    text-transform: uppercase;
    background-color: #E8E8E8;
    font-family: 'Space Mono', monospace;
}

/*inactive hover:*/

.btn.inactive_love_badge:hover {
    background-color: #E07572;
    color: #272822;
}

.btn.inactive_bianchini_badge:hover {
    background-color: #F4C46F;
    color: #272822;
}

.btn.inactive_bianchini_love_badge:hover {
    background-color: #BFD7D9;
    color: #272822;
}

/* For post preview - media */ 

.media-object {
    border-radius: 5px;
}

.media {
   margin: 10px;
}

p.published {
    color: #777;
    margin-bottom: 2px;
    font-family: 'Space Mono', monospace;
}

p.unpublished {
    color: #ff4c4c;
    margin-bottom: 2px;
}

/* Posts table for table on admin page */

#posts_table_small tbody tr td {
    font-family: 'Space Mono', monospace;
}

#posts_table span.description {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

#posts_table span.body {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #4b4f56;
    border: none;
}

.table-striped > tbody > tr > td {
    border: none;
}

.table-striped > thead > tr > th {
    border-bottom: 1px solid #bbb;
    font-family: 'Space Mono', monospace;
}

/* Post thumbnails */

.media-body p {
    max-height: 85px;
    overflow: hidden;
}

/* New Post Error */

#error_explanation *{
    color: #ff4c4c;
    font-family: Consolas;
}

/* For log in and sign up (border and center) */ 

.background-tile {
    box-sizing: border-box;
    border: 1px solid #bbb;
    background-color: #33363b;
    border-radius: 5px;
    padding: 1.5em 1.25em;
}

.middle {
    /*text-align: center;*/
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

/* For log in, log out, sign up, save, and updated notices on top of home page */

.notice {
    color: lightgreen;
}


/*----------------------------Sidebar-----------------------------*/

.temp_sidebar {
    height: 80px;
    width:  100%;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 15px;
}

.sidebar {
    padding: 5px;
    padding-top: 15px;
    /*background-color: #f5f5f5;*/
    background-color: #33363b;
    /*color: black;*/
    color: #f5f5f5;
    height: auto;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);*/
}

.list-group {
    box-shadow: none;
}

.list-group-item {
    border: none;
    /*background-color: #f5f5f5;*/
    background-color: #33363b;
}

a.list-group-item {
    color: #f5f5f5;
    font-family: 'Space Mono', monospace;
}

a.list-group-item:hover {
    background-color: #565c64;
    color: #f5f5f5;
}

/*.sidebar h4 {
    border-bottom: 1px solid black;
}*/

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover  {
    background-color: #565c64;
}

/* For Archives drop down */
/*a.list-group-item.dropdown-parent.active {
    border: 1px solid #ccc;
    color: #555; 
}*/

a.list-group-item.dropdown-parent.active span.badge {
    color: #777777;
}

.dropdown-container {
    display: none;
    margin-bottom: -1px;
}

a.list-group-item.dropdown-element {
    padding-left: 32px;
}

a.list-group-item.sub-dropdown-element {
    padding-left: 48px;
}

/*----------------------------------------------------------------*/



/*-----------------------------slider------------------------------*/

.temp_home {
    height: 200px;
    width:  825px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 50px;
}

#slider {
    width: 825px;  /*Prevents from being hidden by .wrapper*/
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
}

#slider .sliderOverlay {
    position: absolute;
    width: 821px; /*Minus 4 for border*/
    height: 196px; /*Minus 4 for border*/
    background: rgba(255,255,255, .7);
    border-radius: 8px; /*Minus 2 for border*/
    /*background: linear-gradient(to right, rgba(255,255,255, .7) 20%, transparent);
    /*background: radial-gradient(ellipse at top left, rgba(255,255,255, .9), transparent);*/
}

.summary {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 825px;
    height: 185px;
}

.summary h1 {
    margin-top: 4px;
}

.summary .breadcrums {
    display: inline-block;
}

.summary .date {
    display: inline-block;
}

.date {
    color: #777;
    font-family: 'Space Mono', monospace;
}

.summary::before {
    background-image: linear-gradient( top, 
            rgba( 51, 54, 59, 0 ) 0%, rgba( 51, 54, 59, 1 ) 100% );
        background-image: -moz-linear-gradient( top, 
            rgba( 51, 54, 59, 0 ) 0%, rgba( 51, 54, 59, 1 ) 100% );
        background-image: -ms-linear-gradient( top, 
            rgba( 51, 54, 59, 0 ) 0%, rgba( 51, 54, 59, 1 ) 100% );
        background-image: -o-linear-gradient( top, 
            rgba( 51, 54, 59, 0 ) 0%, rgba( 51, 54, 59, 1 ) 100% );
        background-image: -webkit-linear-gradient( top, 
            rgba( 51, 54, 59, 0 ) 0%, rgba( 51, 54, 59, 1 ) 100% );
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
}

.summaryText {
    /*color: black; /*#aaa;*/
    color: #f5f5f5;
}

#slider .slides {
    width: 6000px; /*Large number to fit in all pictures*/
    height: 200px;
    display: block;
    margin: 0;
    padding: 0;
}

#slider .slide {
    width: 825px;
    height: 200px;
    float: left;
    list-style-type: none;
}

/*-------------------------------------------------------------------*/

/*----------------------------NavDots/Arrows--------------------------------*/

#NavDots {
    margin-bottom: 10px;
    width: 849px;  /*plus 4px (to 945) because this div does not have 2px border around it*/
    height: 17px;
    padding: 0px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;  
    width: 20px;  
    height: 2px;  
    vertical-align: middle;
    margin-right: 10px;  
    background-color: #bbb; 
    /*box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5);*/
    /*border: 1px solid #969696;*/
}

input[type="radio"]:checked + label {
    font-size: 50px;
    line-height: 19px;
    background-color: #5C5C5C;
    text-shadow: 0px 0px 3px #eee;
}

#Arrows {
    float:right;
    margin-top: -37px;
    margin-right: 20px;
    font-size: 1.8em;
    /*background-color: white;*/
    background-color: #33363b;
    border-left: 5px solid #33363b;
    border-right: 5px solid #33363b;
    color: #bbb
}

.prev {
    cursor: pointer;
}

.next {
    cursor: pointer;
}



/*-------------------------------------------------------------------*/

/*----------------------------Responsive CSS---------------------------*/

/*Only perform this CSS when the screen is larger than 1200px */
@media (min-width: 1200px) {
    /* Show the slider */
    #main {
        margin-top: 200px;
        border-top: 1px solid #bbb;
    }
}

/*Only perform this CSS whne the screen is smaller than 1200px*/
@media (max-width: 1199px) {
    /*Resize post body images to fit in the body*/
    #content p img {
        width: 100%;
        height: auto;
    }
}

/*Only perform this CSS whne the screen is smaller than 992px*/
@media (max-width: 991px) {
    /*Resize embedded youtube videos to fit in the body*/
    #content iframe {
        width: 100%;
    }
    /*Eliminate extra menu padding for alignment*/
    .sidebar {
        padding-top: 0px;
    }
}


/*-------------------------------------------------------------------*/



/*----------------------------Mosaic---------------------------*/

/**, *:before, *:after {box-sizing:  border-box !important;}*/


.mosrow {                       /*--------------- include mos to differentiate */
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em; 
  
}

.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%; 
}

.tub {
    position:relative;
    display: block;
}

.mosaic {
    margin: 10px;
}

/*-------------------------------------------------------------------*/

/*----------------------------Active Storage---------------------------*/

.download_button {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.download_button .trash {
    position: absolute;
    top: -10px;
    left: -5px;
    visibility: hidden;
    color: #333333;
}

.download_button .trash:hover {
    color: #9E1616;
}

/*-------------------------------------------------------------------*/


/*--------------------------------Form-------------------------------*/

.form-control {
    background-color: #565c64;
    color: #f5f5f5;
}

#post_owner {
    background-color: #565c64;
    color: #f5f5f5;
}

label {
    font-family: 'Space Mono', monospace;
}

/*-------------------------------------------------------------------*/



/*================================================================*/



/*==============================Footer=============================*/

footer {
    width: 100%;
    min-height: 200px;
    height: 100%;
    bottom: 0px;
    /*Background of BLE: */
    /*background-color: #BFD7D9;*/
    /*Background of old H.Love Engineering: */
    background-color: #33363b;
    margin-top: 10px;
    /*border-top: 1px solid #bbb;*/
}

footer table {
    /*font-family: webly;*/
    font-family: 'Space Mono', monospace;
    margin-left: 20px;
    margin-bottom: 10px;
    /*color: #272822;*/
    color: #eeeeee;
    font-size: 14px;
    width: 340px;
}

footer table th {
    font-family: 'Space Mono', monospace;
}

footer table td {
    font-family: 'Space Mono', monospace;
}

/* OLD from h.love engineering*/
/*footer p {
    margin-top: 5px;
    margin-left: 20px;
    position: absolute;
    font-family: webly;*/
    /*color: #CCCCCC;*/
    /*color: #272822;
    font-size: 16px;
}*/

footer .navbar-custom {
    /*Background of BLE: */
    /*background-color: #BFD7D9;*/
    /*Background of old H.Love Engineering: */
    background-color:#33363b;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 0px;
}

footer i {
    color: #ffffff;
    float: right;
    margin: 10px;
}

/*===================================================================*/