<!-- render header -->
<div id="headerOverlay"></div>

<div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to "h.love", root_path %><span class="subscript hidden-sm hidden-xs">Engineering</span></p>
        <p class="logo-small visible-xs"><%= link_to "h.love", root_path %></p>
    </div>
</div>
<!-- end render header -->