<!-- render header -->
<div id="headerOverlay"></div>

<!-- Bianchini-Love Engineering header: -->
<div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to image_tag("bianchini_love_engineering2.png", height: '130', alt: "Bianchini Love Engineering Logo"), root_path %></p>
        <p class="logo-small visible-xs"><%= link_to image_tag("bianchini_love.png", height: '100', alt: "Bianchini Love Engineering Logo"), root_path %></p>
    </div>
</div>


<!-- Old H.Love Engineering header:
<div id="redLine">
    <div class="container">
        <p class="logo hidden-xs"><%= link_to "h.love", root_path %><span class="subscript hidden-sm hidden-xs">Engineering</span></p>
        <p class="logo-small visible-xs"><%= link_to "h.love", root_path %></p>
    </div>
</div>-->
<!-- end render header -->