<!-- render sidebar -->
<div class="sidebar col col-sm-3">
    <h4>Menu</h4>
    <div class="list-group">
    	<%= link_to "Home", root_path, class: "list-group-item" %>
        <%= link_to "Posts", posts_path, class: "list-group-item" %>
    </div>
    

    <h4>Follow</h4>
    <div id="sidebar" class="list-group">
        <a href="https://www.youtube.com/channel/UCgXUs7P5h07Ve3Ah-s76jWQ" class="list-group-item">Youtube&nbsp;&nbsp;<i class="fa fa-youtube"></i></a>
        <a href="https://github.com/hlove18" class="list-group-item">GitHub&nbsp;&nbsp;<i class="fa fa-github"></i></a>
    </div>
</div>
<!-- end render sidebar -->